@use "../utils/" as u;

.popup {
  position: absolute;
  width: 100vw;
  left: 0;
  bottom: 0;
  padding: u.rem(48) u.rem(26);
  display: grid;
  gap: u.rem(16);

  @include u.breakpoint(medium) {
    grid-template-columns: repeat(2, 1fr);
    padding: u.rem(119) u.rem(0) u.rem(119) u.rem(64);
    column-gap: u.rem(80);
    row-gap: u.rem(48);
  }

  &--night {
    color: white;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
  }

  &--day {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    color: var(--grey);
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include u.breakpoint(medium) {
      flex-direction: column;
      align-items: flex-start;
      &:nth-child(3) {
        grid-row: 1 /2;
        grid-column: 2 / 3;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: u.rem(10);
    line-height: u.rem(28);
    letter-spacing: u.rem(2);
    text-transform: uppercase;
    color: var(--white);

    @include u.breakpoint(medium) {
      font-size: u.rem(13);
      letter-spacing: u.rem(2.6);
    }
  }

  &__var {
    font-weight: 700;
    font-size: u.rem(20);
    line-height: u.rem(24);
    text-align: right;
    color: var(--white);

    @include u.breakpoint(medium) {
      font-size: u.rem(40);
      line-height: u.rem(48);
    }
  }
}
