@use "../utils/" as u;

.quote {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-block-start: u.rem(32);
  padding-inline: u.rem(26);

  @include u.breakpoint(medium) {
    padding: u.rem(80) u.rem(131) u.rem(0) u.rem(64);
  }

  @include u.breakpoint(xlarge) {
    padding: u.rem(56) u.rem(0) u.rem(0) u.rem(165);
    width: u.rem(739);
  }

  &__text {
    font-weight: 400;
    font-size: u.rem(12);
    line-height: u.rem(22);
    padding-inline-end: u.rem(16);
    @include u.breakpoint(medium) {
      font-size: u.rem(18);
      line-height: u.rem(28);
    }
  }

  &__author {
    font-weight: 700;
    font-size: u.rem(12);
    line-height: u.rem(22);
    margin-block-start: u.rem(8);

    @include u.breakpoint(medium) {
      font-size: u.rem(18);
      line-height: u.rem(28);
      margin-block-start: u.rem(13);
    }
  }

  &__refresh {
    padding: u.rem(8);
    background-image: url(/desktop/icon-refresh.svg);
    background-size: contain;
    background-color: transparent;
    border: none;

    @include u.breakpoint(medium) {
      margin-block-start: u.rem(6);
    }
  }
}
