@use "../utils/" as u;

.clicked {
  top: u.rem(100);

  @include u.breakpoint(xlarge) {
    top: u.rem(56);
  }
}

.time {
  position: absolute;
  bottom: u.rem(40);
  padding-inline: u.rem(26);
  color: var(--white);

  @include u.breakpoint(medium) {
    bottom: u.rem(64);
    padding-inline: u.rem(64);
  }

  @include u.breakpoint(large) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    padding-inline: u.rem(165);
    bottom: u.rem(98);
    max-width: u.rem(1443);
    left: 50%;
    transform: translate(-50%);
  }

  .greeting {
    display: flex;
    align-items: center;
    gap: u.rem(16);

    @include u.breakpoint(medium) {
      gap: u.rem(17.6);
    }

    &__text {
      font-weight: 400;
      font-size: u.rem(15);
      line-height: u.rem(26);
      text-transform: uppercase;
      letter-spacing: u.rem(3);

      @include u.breakpoint(medium) {
        font-size: u.rem(18);
        line-height: u.rem(28);
        letter-spacing: u.rem(3.6);

        &::after {
          content: ", it's currently";
        }
      }

      @include u.breakpoint(xlarge) {
        font-size: u.rem(20);
      }
    }
  }

  .clock {
    display: flex;
    align-items: flex-end;
    margin-block-start: u.rem(16);

    @include u.breakpoint(medium) {
      margin: 0;
    }

    &__text {
      font-weight: 700;
      font-size: u.rem(100);
      line-height: 1;
      letter-spacing: u.rem(-2.5);
      color: var(--white);

      @include u.breakpoint(medium) {
        font-size: u.rem(175);
        letter-spacing: u.rem(-4.375);
      }
      @include u.breakpoint(xlarge) {
        font-size: u.rem(200);
        letter-spacing: u.rem(-5);
      }
    }

    &__abb {
      font-weight: 300;
      font-size: u.rem(15);
      line-height: u.rem(28);
      margin-block-end: u.rem(5);
      margin-inline-start: u.rem(5);

      @include u.breakpoint(medium) {
        font-size: u.rem(32);
        margin-block-end: u.rem(17);
        margin-inline-start: u.rem(12);
      }

      @include u.breakpoint(xlarge) {
        font-size: u.rem(40);
        margin-block-end: u.rem(25);
        margin-inline-start: u.rem(11);
      }
    }
  }

  .location {
    font-weight: 700;
    font-size: u.rem(15);
    line-height: u.rem(28);
    letter-spacing: u.rem(3);
    text-transform: uppercase;
    margin-block-start: u.rem(16);
    color: var(--white);

    @include u.breakpoint(medium) {
      font-size: u.rem(18);
      letter-spacing: u.rem(3.6);
    }

    @include u.breakpoint(xlarge) {
      font-size: u.rem(24);
      letter-spacing: u.rem(4.8);
    }
  }

  .button {
    background-image: url(/desktop/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: top 3px right 4px;
    background-size: 32px 32px;
    background-color: var(--white);
    border-radius: 28px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: u.rem(12);
    line-height: u.rem(14);
    letter-spacing: u.rem(3.75);
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    padding: u.rem(13) u.rem(51) u.rem(12) u.rem(17);
    border: none;
    margin-block-start: u.rem(48);

    &:hover {
      cursor: pointer;
      background-image: url(/desktop/icon-arrow-down-hover.svg);
    }

    &--clicked {
      background-image: url(/desktop/icon-arrow-up.svg);

      &:hover {
        cursor: pointer;
        background-image: url(/desktop/icon-arrow-up-hover.svg);
      }
    }

    @include u.breakpoint(medium) {
      padding: u.rem(15) u.rem(62) u.rem(13) u.rem(21);
      font-size: u.rem(16);
      line-height: u.rem(28);
      background-position: top 8px right 9px;
      background-size: 40px 40px;
    }
  }
}
